*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Explora', cursive;
    font-family: 'Josefin Sans', sans-serif;
    }

header{
    width: auto;
    height: 100vh;
}

.mainheader{
    width: auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;;
}

.portfolio{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
    padding-left: 15px;
}

span{
    color: #f9004d;
}

.mainheader .logo1 img{
    padding-top: 60px;
    padding-left: 200px;
    width: 450px;
}

.mainheader nav{
    padding: 20px;
    margin-left: 300px;
    align-items: center;
    width: 450px;
    display: flex;
    justify-content: space-between;
}

.mainheader nav a{
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

/* .mainheader button{
    margin-left: 300px;
    padding: 10px 30px;
    text-align: right;
    font-weight: 600;
    font-size: 20px;
    color: black;
    border: none;
    border-radius: 10px;
} */

/* .background-image{
    background-image: url('./download.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;

} */

.background{
    background: url("download.png") #100051 repeat-y fixed;
}

/* main{
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .right-sec{
    padding-right: 70px;
}

main .left-sec{
    padding-left: 100px;
} */