*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Explora', cursive;
    font-family: 'Josefin Sans', sans-serif;
    }

header{
    width: auto;
    height: 100vh;
}

.mainheader{
    width: auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;;
}

.portfolio{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
    padding-left: 15px;
}

span{
    color: #f9004d;
}

.mainheader .logo img{
    padding-top: 30px;
    padding-left: 230px;
    width: 400px;
}

.mainheader nav{
    padding: 20px;
    margin-left: 300px;
    align-items: center;
    width: 450px;
    display: flex;
    justify-content: space-between;
}

.mainheader nav a{
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.background{
    background: url("download.png") #100051 repeat-y fixed;
}




.photo{
    position: absolute;
    left: 60%;
    top: 40%;
}

.content{
    font-family: 'Explora', cursive;
    text-align: left;
    padding-right: 50%;
    padding-top: 7%;
    padding-left: 15%;
}

#textcss{
    text-indent: 3em;
}
